html{
    background-color: #E8DED1;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}

nav {
  
    font-size:18px;
    color:#A0816C;
    margin-bottom: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows:  70% 30%;
}

/* galleri */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* galleri */
.container{
    padding: 0rem 2rem 2rem;
}

/* parentcontainer till profilbild + brödtext*/
.infomain {
    display: grid;
    
    
}
.infotxt, .infoheading{
    display: flex;
    flex-wrap: wrap;
}


/* allt till footer - alla sidor */
footer{
    background-color: #fff; opacity:0.6;
    padding: 5rem;
    font-size: 20px;
    color:#A0816C;
    
}
ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
    
  }
  
  @media (min-width: 500px) {

    ul {
      grid-auto-flow: column;
    }
}
  
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }


/* sticky footer med grid*/
article{ 
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
/*brödtext på informationssidan*/

.infoheading, .infotxt{
    color:#A0816C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    
}

.profilbild {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    
}

.kontakt{
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 15px;
    justify-items: center;
    margin: auto;
    color: #A0816C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
